.main {
    background-image: linear-gradient(0.25turn, black, black, palegoldenrod);
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.main2 {
    /*background: linear-gradient(0.25turn, black, indianred, black);*/
    background-image: linear-gradient( black, black, indianred, black, black);
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.content {
    margin: 100px;
    min-height: 65vh;
}

.content2 {
    margin: 100px;
    min-height: 65vh;
}

.card {
    width: 500px;
    text-align: center;
    margin: 100px auto;
    color: white;
    border: none;
}

.card2 {
    width: 500px;
    text-align: center;
    margin: 100px auto;
    color: white;
}

.card-body {
    background-color: black;
}

.card-body2 {
    background-color: black;
    line-height: 1.8;
    padding: 17px;
    border: 1px solid palegoldenrod;
}

.card-title {
    font-size: 25px;
}

#title {
    color: goldenrod;
    font-family: Elephant, fangsong;
    font-size: 100px;
}

#addDish {
    color: goldenrod;
    font-family: Elephant, fangsong;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .nav-link {
color: silver;
margin-right: 60px;
}

.navbar .nav-link:hover {
    color: darkred;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: gray;
    color: white;
}

.table {
    border: 1px solid black;
}

.table thead th {
    background-color: maroon;
    color: white;
}

div label {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 1500px;
    margin-bottom: 5px;
}

div input {
    margin-bottom: 20px;
}
